<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="shortcut icon" href="../assets/images/iconoDelBanco.png" type="image/x-icon">
    <title>Liberty Bank | Manager</title>
</head>

<body>
    <div id="app">
        <header
            class="sticky top-0 z-50 flex min-h-[5vh] justify-between rounded-b-lg items-center w-full flex-col md:flex-row bg-white p-2">
            <div class="mx-1 ">
                <img class="h-[40px] w-[40px] shadow-xl" src="../assets/images/iconoDelBanco.png" alt="iconoDelBanco">
            </div>
            <nav>
                <ul class="flex flex-col gap-2 ">
                    <li><a href="../login.html"><img src="./assets/images/cerrar-sesion.png" alt=""></a></li>
                </ul>
            </nav>
        </header>

        <main
            class="bg-[url('./assets/images/background1.png')] bg-cover min-h-screen flex justify-center items-center">
            <form class="max-w-md bg-red-800 mx-auto p-6 rounded-md shadow-2xl shadow-black sm:w-[600px]">
                <h2 class="block text-base font-medium text-gray-900">Create Loan</h2>
                <label for="">Name</label>
                <input type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" v-model="name" placeholder="Name">
                <label for="">Max Amount</label>
                <input type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" v-model="maxAmount" placeholder="Max Amount">
                <label for="">Payments</label>
                <input type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" v-model="paymentArray" placeholder="Payments">
                <label for="">Percentage</label>
                <input type="text" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" v-model="percentage" placeholder="percentage">
                <div class="flex justify-between">
                    <button @click.prevent="createLoan"
                        class="mt-2 mx-2 bg-slate-700 text-white m-auto px-2 rounded-md">Add
                        Loan</button>
                </div>
            </form>
        </main>

    </div>
    <script type="module" src="../assets/style/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../assets/pagesJS/managers.js"></script>
</body>

</html>