<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="shortcut icon" href="../assets/images/iconoDelBanco.png" type="image/x-icon">
    <title>Liberty Bank | Manager</title>
</head>

<body>
    <div id="app">
        <header class="flex justify-between bg-red-600 p-2 items-center">
            <div class="mx-1 ">
                <img class="h-[40px] w-[40px] shadow-xl" src="../assets/images/iconoDelBanco.png" alt="iconoDelBanco">
            </div>
            <nav>
                <ul class="flex flex-col gap-2 ">
                    <li><a href="../../index.html" class=" p-1 rounded-lg text-white">Home</a></li>
                    <li><a href="#" class=" p-1 rounded-lg text-white">managers</a></li>
                </ul>
            </nav>
        </header>

        <main class="bg-slate-200 h-full flex justify-center items-center flex-col">
            <form action="" class="flex flex-col w-auto my-5 bg-gray-400 p-4 rounded-lg">
                <h2 class=" flex my-2 items-center justify-center text-lg text-bold ">Create Loan</h2>
                <label for="">Name</label>
                <input type="text" class=" rounded-md px-1" v-model="name" placeholder="Name">
                <label for="">Max Amount</label>
                <input type="text" class=" rounded-md px-1" v-model="maxAmount" placeholder="Max Amount">
                <label for="">Payments</label>
                <input type="text" class=" rounded-md px-1" v-model="paymentArray" placeholder="Payments">
                <label for="">Percentage</label>
                <input type="text" class=" rounded-md px-1" v-model="percentage" placeholder="percentage">
                <div class="flex justify-between">
                    <button @click.prevent="createLoan" class="mt-2 mx-2 bg-slate-700 text-white m-auto px-2 rounded-md">Add
                        Loan</button>
                </div>
            </form>
        </main>

    </div>
    <script type="module" src="../assets/style/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../assets/pagesJS/managers.js"></script>
</body>

</html>