<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style/style.css">
    <link rel="shortcut icon" href="./assets/images/iconoDelBanco.png" type="image/x-icon">
    <title>Liberty Bank | Account</title>
</head>

<body>
    <div id="app">
        <header class="flex justify-between bg-red-600 p-2 items-center flex-col lg:flex-row">
            <div class="flex flex-col lg:flex-row justify-center items-center">
                <img class="h-[40px] w-[40px] rounded-3xl shadow-lg" src="./assets/images/iconoDelBanco.png"
                    alt="iconoDelBanco">
                <h2 class=" p-1 rounded-lg text-white text-lg ">Liberty Bank</h2>
            </div>
            <nav>
                <ul class="flex gap-2 ">
                    <li><a href="./accounts.html"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-black/50">Accounts</a></li>
                    <li><a href="#" class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-black/50">Cards</a>
                    </li>
                    <li><a href="#" class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-black/50">Loans</a>
                    </li>
                    <li><a href="#"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-black/50">Transactions</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="min-h-screen">
            <h2 class="bg-slate-500/30 shadow-lg flex-col justify-center items-center sm:text-xl flex p-3 rounded-b-lg">Transactions</h2>
            <template v-if="data.length > 0" v-for="transactions in data">
                <div class="overflow-x-auto sm:flex sm:justify-center sm:mt-[30px] ">
                    <table class="w-auto divide-y divide-red-200 shadow-lg">
                        <thead class="bg-red-500">
                            <tr>
                                <th class="sm:rounded-l-lg px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Type</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Amount</th>
                                <th class=" px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Description</th>
                                <th class="sm:rounded-r-lg px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Date-Time</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-red-200">
                            <tr>
                                <td v-if="transactions.type=='Credit'"
                                    class="sm:rounded-l-lg px-6 py-4 whitespace-nowrap text-sm text-green-600">{{transactions.type}}
                                </td>
                                <td v-else class="px-6 py-4 whitespace-nowrap text-sm text-red-700">
                                    {{transactions.type}}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-black">
                                    {{formatBudget(transactions.amount)}}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-black">{{transactions.description}}
                                </td>
                                <td class="sm:rounded-r-l gpx-6 py-4 px-2 whitespace-nowrap text-sm text-black">
                                    {{formatFechaYHora(transactions.dateTime)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </template>
            <div class=" justify-center items-center flex mt-5">
                <img class="rounded-lg w-[250px] h-[250px] shadow-xl sm:w-[500px] sm:h-[500px] sm:m-3 sm:rounded-xl sm:shadow-inner" src="./assets/images/NEW DESING.png" alt="">
            </div>
        </main>
        <footer class="bg-red-600 p-2 flex justify-between text-white">
            <h3>Alvaro Orquera</h3>
            <p>Cohort-52</p>
        </footer>
    </div>
    <script type="module" src="./assets/style/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/pages/account.js"></script>
</body>

</html>