<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style/style.css">
    <link rel="shortcut icon" href="./assets/images/iconoDelBanco.png" type="image/x-icon">
    <title>Liberty Bank | Cards</title>
</head>

<body>
    <div id="app">
        <header class="flex justify-between bg-red-600 p-2 items-center flex-col lg:flex-row">
            <div class="flex flex-col lg:flex-row justify-center items-center">
                <img class="h-[40px] w-[40px] rounded-3xl shadow-lg" src="./assets/images/iconoDelBanco.png"
                    alt="iconoDelBanco">
                <h2 class=" p-1 rounded-lg text-white text-lg ">Liberty Bank</h2>
            </div>
            <nav>
                <ul class="flex gap-2 ">
                    <li><a href="../index.html"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-red-800">Home</a></li>
                    <li><a href="./accounts.html"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-red-800">Accounts</a></li>
                    <li><a href="./cards.html"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-red-800">Cards</a>
                    </li>
                    <li><a href="#" class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-red-800">Loans</a>
                    </li>   
                    <li><a href="#"
                            class=" p-1 rounded-lg text-white text-sm lg:text-base hover:bg-red-800">Transactions</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="flex flex-col flex-grow justify-center items-center h-screen">
            <div class="mb-5 bg-slate-600/40 w-auto p-3 rounded-lg flex justify-center items-center">
                <h2 class="text-5xl">Your Cards</h2>
            </div>
            <div class="w-11/12 flex-wrap flex justify-center gap-5 items-center">
                <template v-if="data.length > 0" v-for="cardDTOS in data">
                    <template v-if="cardDTOS.type == 'CREDIT' && cardDTOS.colors=='TITANIUM'">
                        <!--  template para identificar las cards -->
                        <!-- CONTENEDOR CARD -->
                        <div class="flex justify-center items-center w-[350px]">
                            <div class="card flex w-full justify-center items-center">
                                <div class="flip">
                                    <div
                                        class="FRONT tarjeta p-3 bg-gradient-to-br from-gray-800 to-gray-600 text-white rounded-lg shadow-md">
                                        <div class="delantera"><!--  parte delantera de la tarjeta -->
                                            <div class="flex justify-between mb-5">
                                                <!-- icono del banco y tipo de tarjeta -->
                                                <p class="text-xl">{{cardDTOS.type}}</p>
                                                <div class="flex items-center">
                                                    <img src="./assets/images/iconoDelBanco.png" class="w-5 h-5" alt="">
                                                    <h2 class="ml-2">Liberty Bank</h2>
                                                </div>
                                            </div> <!-- fin del icono del banco y tipo de tarjeta -->
                                            <div class="flex mb-2 mt-4"> <!-- chip de la tarjeta -->
                                                <img src="./assets/images/chip-tarjeta.png" class="chip w-12 h-10"
                                                    alt="">
                                            </div> <!-- fin del chip -->
                                            <div class="datos mt-5"> <!-- datos de la persona -->
                                                <div class="grupo mb-2 mt-3" id="numero">
                                                    <p class="text-xs">Card Number</p>
                                                    <p class="numero text-lg">{{cardDTOS.number}}</p>
                                                </div>
                                                <div class="grupo flex justify-center" id="expiracion">
                                                    <p class="text-xs uppercase">{{formatFechaYHora(cardDTOS.fromDate)}}
                                                        to
                                                        {{formatFechaYHora(cardDTOS.truDate)}}</p>
                                                </div>
                                                <div class="grupo flex justify-between items-center mb-2" id="nombre">
                                                    <p class="nombre text-lg">{{cardDTOS.cardHolder}}</p>
                                                    <div>
                                                        <template v-if="cardDTOS.type=='DEBIT'">
                                                            <div class="logo-marca">
                                                                <img src="./assets/images/mastercard.png"
                                                                    class="w-16 h-13" alt="">
                                                            </div>
                                                        </template>
                                                        <template v-if="cardDTOS.type=='CREDIT'">
                                                            <div class="logo-marca">
                                                                <img src="./assets/images/visa.png" class="w-16 h-13"
                                                                    alt="">
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div> <!-- fin de los datos -->
                                        </div> <!-- fin de la parte delantera -->
                                    </div>
                                    <!-- PARTE TRASERA DE LA CARD -->
                                    <div
                                        class="BACK bg-gradient-to-br from-gray-800 to-gray-600 p-3 rounded-lg shadow-md">
                                        <p class="text-center text-xs">customer service center (Arg):34517424247</p>
                                        <div class="barra-magnetica h-10 bg-black w-full mb-6"></div>
                                        <div class="datos">
                                            <div class="grupo mb-4 flex items-center" id="firma">
                                                <div class="firma m-3 bg-gray-500 w-4/5 mx-auto">
                                                    <div class="grupo flex items-end justify-end" id="ccv">
                                                        <p class="bg-slate-400 p-2  text-base">{{cardDTOS.cvv}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="text-xs text-white">This card is issued by Liberty Bank S.A
                                                    under license
                                                    of
                                                    MasterCard International and Visa
                                                    International </p>
                                            </div>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <a class="text-xs text-white" href="./accounts.html">www.libertybank.com</a>
                                            <div class="flex gap-2  ">
                                                <img class="w-5 " src="./assets/images/logobanelco.png" alt="">
                                                <img class="w-5 " src="./assets/images/logolink.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="cardDTOS.type == 'DEBIT' && cardDTOS.colors=='GOLD'">
                        <!--  template para identificar las cards -->
                        <!-- CONTENEDOR CARD -->
                        <div class="flex justify-center items-center w-[350px]">
                            <div class="card flex w-full justify-center items-center">
                                <div class="flip">
                                    <div
                                        class="FRONT tarjeta p-3 bg-gradient-to-br from-yellow-800 to-yellow-600 text-white rounded-lg shadow-md">
                                        <div class="delantera"><!--  parte delantera de la tarjeta -->
                                            <div class="flex justify-between mb-5">
                                                <!-- icono del banco y tipo de tarjeta -->
                                                <p class="text-xl">{{cardDTOS.type}}</p>
                                                <div class="flex items-center">
                                                    <img src="./assets/images/iconoDelBanco.png" class="w-5 h-5" alt="">
                                                    <h2 class="ml-2">Liberty Bank</h2>
                                                </div>
                                            </div> <!-- fin del icono del banco y tipo de tarjeta -->
                                            <div class="flex mb-2 mt-4"> <!-- chip de la tarjeta -->
                                                <img src="./assets/images/chip-tarjeta.png" class="chip w-12 h-10"
                                                    alt="">
                                            </div> <!-- fin del chip -->
                                            <div class="datos mt-5"> <!-- datos de la persona -->
                                                <div class="grupo mb-2 mt-3" id="numero">
                                                    <p class="text-xs">Card Number</p>
                                                    <p class="numero text-lg">{{cardDTOS.number}}</p>
                                                </div>
                                                <div class="grupo flex justify-center" id="expiracion">
                                                    <p class="text-xs uppercase">{{formatFechaYHora(cardDTOS.fromDate)}}
                                                        to
                                                        {{formatFechaYHora(cardDTOS.truDate)}}</p>
                                                </div>
                                                <div class="grupo flex justify-between items-center mb-2" id="nombre">
                                                    <p class="nombre text-lg">{{cardDTOS.cardHolder}}</p>
                                                    <div>
                                                        <template v-if="cardDTOS.type=='DEBIT'">
                                                            <div class="logo-marca">
                                                                <img src="./assets/images/mastercard.png"
                                                                    class="w-16 h-13" alt="">
                                                            </div>
                                                        </template>
                                                        <template v-if="cardDTOS.type=='CREDIT'">
                                                            <div class="logo-marca">
                                                                <img src="./assets/images/visa.png" class="w-16 h-13"
                                                                    alt="">
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div> <!-- fin de los datos -->
                                        </div> <!-- fin de la parte delantera -->
                                    </div>
                                    <!-- PARTE TRASERA DE LA CARD -->
                                    <div
                                        class="BACK bg-gradient-to-br from-yellow-800 to-yellow-600 p-3 rounded-lg shadow-md">
                                        <p class="text-center text-xs">customer service center (Arg):34517424247</p>
                                        <div class="barra-magnetica h-10 bg-black w-full mb-6"></div>
                                        <div class="datos">
                                            <div class="grupo mb-4 flex items-center" id="firma">
                                                <div class="firma m-3 bg-gray-500 w-4/5 mx-auto">
                                                    <div class="grupo flex items-end justify-end" id="ccv">
                                                        <p class="bg-slate-400 p-2  text-base">{{cardDTOS.cvv}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="text-xs text-white">This card is issued by Liberty Bank S.A
                                                    under license
                                                    of
                                                    MasterCard International and Visa
                                                    International </p>
                                            </div>
                                        </div>
                                        <div class="flex justify-between items-center">
                                            <a class="text-xs text-white" href="./accounts.html">www.libertybank.com</a>
                                            <div class="flex gap-2  ">
                                                <img class="w-5 " src="./assets/images/logobanelco.png" alt="">
                                                <img class="w-5 " src="./assets/images/logolink.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </template><!-- fin del template para identificar las cards -->
            </div>
        </main>
        <footer class="bg-red-600 p-2 flex justify-between text-white">
            <h3>Alvaro Orquera</h3>
            <p>Cohort-52</p>
        </footer>
    </div>
    <script type="module" src="./assets/style/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/pages/card.js"></script>

</body>

</html>