<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style/style.css">
    <link rel="shortcut icon" href="./assets/images/iconoDelBanco.png" type="image/x-icon">
    <title>Liberty Bank | Manager</title>
</head>

<body>
    <div id="app">
        <header class="flex justify-between bg-red-600 p-2 items-center">
            <div class="mx-1 ">
                <img class="h-[40px] w-[40px] shadow-xl" src="./assets/images/iconoDelBanco.png" alt="iconoDelBanco">
            </div>
            <nav>
                <ul class="flex flex-col gap-2 ">
                    <li><a href="../index.html" class=" p-1 rounded-lg text-white">Home</a></li>
                    <li><a href="#" class=" p-1 rounded-lg text-white">managers</a></li>
                </ul>
            </nav>
        </header>

        <main class="bg-slate-200 h-full flex justify-center items-center flex-col">
            <form action="" class="flex flex-col w-auto my-5 bg-gray-400 p-4 rounded-lg">
                <h2 class=" flex my-2 items-center justify-center text-lg text-bold ">Create Client</h2>
                <label for="">Name</label>
                <input type="text" class=" rounded-md px-1" v-model="name" placeholder="Name">
                <label for="">Last Name</label>
                <input type="text" class=" rounded-md px-1" v-model="lastname" placeholder="last name">
                <label for="">Email</label>
                <input type="text" class=" rounded-md px-1" v-model="email" placeholder="email">
                <div class="flex justify-between">
                    <button @click="createClient" class="mt-2 mx-2 bg-slate-700 text-white m-auto px-2 rounded-md">Add
                        Client</button>
                    <button @click="deleteClient"
                        class="mt-2 mx-2 bg-slate-700 text-white m-auto px-2 rounded-md">Delete
                        Client</button>
                </div>
            </form>
            <div>
                <table class="my-5 bg-gray-400 p-4 rounded-lg text-left ">
                    <caption class="text-3xl bg-slate-700 rounded-lg text-white">Clients</caption>
                    <thead>
                        <tr >
                            <th class="p-2">Name</th>
                            <th class="p-2">Last Name</th>
                            <th class="p-2">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template  v-if="data.length > 0" v-for="client in data">
                            <tr class="border-t-2">
                                <td class="p-2 " >{{client.name}}</td>
                                <td class="p-2">{{client.lastname}}</td>
                                <td class="p-2">{{client.email}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>

            </div>
            <pre>{{data}}</pre>
        </main>

    </div>
    <script type="module" src="./assets/style/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/pages/managers.js"></script>
</body>

</html>